h3,p, p > a {
    color: var(--color-dark-blue);
    text-align: center;
    font-size: var(--font-size-h3);
}

.main-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-image {
    text-align: center;
    overflow: hidden;   
    margin: 0px; 
    padding: 0px;
}

.main-image img {
    height: 100%;
}

/*Video styles*/

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container .final-image{
    width: calc(((100vw)/3*1) - 140px);
}

.video-container .main-video {
    height: auto;
    width: calc((100vw)/3*2);
}

.video-container .main-video iframe {
    width: 100%;
    height: calc(((100vw)/3*2)/1.7777);
    margin: 0px;
    padding: 0px;
}

.video-container .final-image h3{
    padding-top: 5px;
    padding-bottom: 5px;
}

.video-container .final-image figure{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.video-container .final-image figure img{
    width: 95%;
    height: 95%;
}

.size-buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.size-buttons .button-small {
    width: 60px;
    height: 30px;
    display: inline;
    background-color: red;
    border-radius: 4px;
    margin: 10px;


}