
/* Board -------------------- */

.article-container {
    max-width: 100%;
    display: block;
}

.board, #board {
    --columns: 4;
    --gap: 20px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
}

 /* Articles */

.board article {
    margin-bottom: var(--gap);
}

article figure {
    height: auto;
    width: 100%;
}

article figure img {
    height: auto;
    width: 100%;
}


@media screen and (min-width: 768px) {
    /* Mobile L */

}


@media screen and (max-width: 767px) {
    /* Mobile L */

    .board, #board  {
        --columns:2;
    }


}

@media screen and (max-width: 375px) {
    /* Mobile M */

    .board, #board  {
        --columns:1;
    }


}


