/* Articles Header -------------------- */

.header-section {
    width: auto;
    padding: var(--padding-section);
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}


h2 {
    display: inline;
    margin: 0;
    padding: 0;
    width: 50%;
    font-family: var(--font-titles);
    font-size: var(--font-size-h2);
    color: var(--color-dark-blue);
    text-align: left;
}

.buttons_slide {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.buttons_slide div {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);

}

.gradiants div {
    position: absolute;
    background-color: var(--color-white);
    width: 100px;
    top: 70px;
    height: calc(var(--article-height)*1.4);
    z-index: 1;    
}

.gradiants .left {
    left: 0px;
    background: linear-gradient(90deg, var(--color-white) 50%, rgba(255,0,0,0) 100%);
}

.gradiants .right {
    right: 0px;
    background: linear-gradient(90deg,rgba(255,0,0,0) 0%, var(--color-white) 50%);
}


/* Articles -------------------- */

.articles-container {
    width: auto;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: grab;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-margin: 150px 150px;
}

.article-container {
    width: auto;
    display: inline;
    margin-right: 30px;
}

.article-container.last_elem.button {
    background: none;
    box-shadow: none;
}

.article-container.last_elem article {
    width: 200px;
    height: calc(var(--article-height)*1);
    display: flex;
    align-items: center;
}

.article-container.last_elem > article > .article_content {
    width: 150px;
    height: 100%;
    background: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-container.last_elem h3 {
    text-align: center;
    font-size: calc(var(--font-size-h2)*.77);
}

.article-container.last_elem article:hover h3 {
    color: var(--color-dark-blue);    
}

.article-container.last_elem figure {
    display: none;
}

article figure {
    height: 250px;
    width: auto;
}

article figure img {
    height: 100%;
    width: auto;
}

/* Secction button -------------------- */

.section {
    position: relative;
}

.articles-container {
    position: relative;
}

.section-button {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, var(--color-white),  rgba(0,0,0,0));
    position: absolute;
    z-index: 2;
}

.section-button.left.hide {
    display: none;
}

.section-button.rigtht {
    background: linear-gradient(to left, var(--color-white),  rgba(0,0,0,0));
}

.section-button.left {
    background: linear-gradient(to right, var(--color-white),  rgba(0,0,0,0));
}

.section-button.right {
    top: 0px;
    right: 0px;
}

.section-button.left {
    top: 5px;
    left: 0px;
}

.section-button img{
    width: 35px;
    height: 35px;
    margin: auto 0;
    padding: 0;
}

.section-button.left img{
    transform: rotateZ(180deg);
}



.section-button figure {
    width: 100%;
    height: 100%;
    opacity: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 100%;
}

.section-button figure:hover {
    opacity: 50%;
}

.section-button figure:active {
    opacity: 100%;
}

/* Contact secction -------------------- */

.contact {
    margin-top: 30px;
    text-align: center;
}

.contact .contact-button {
    color: var(--color-dark-blue);
    font-size: var(--font-size-h2);
    font-family: var(--font-titles);
    padding: 7px 150px;
    width: fit-content;
    text-decoration: none;
}

.contact p {
    height: 70px;
    line-height: 70px;
    
}

.contact .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact .social-buttons * {
    width: 100px;
    height: 100px;
    border-radius: 50%;   
    display: block; 
    margin: 0 15px;

    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.facebook {
    background-image: url(../svg/facebook.svg);
}

.instagram {
    background-image: url(../svg/instagram.svg);
}

.pinterest {
    background-image: url(../svg/pinterest.svg);
}

.youtube {
    background-image: url(../svg/youtube.svg);

}

/* Responsive */
@media screen and (min-width: 2559px) {

    /* Laptop L */

    article figure {
        height: calc(var(--article-height)*1.5);
    }

}

@media screen and (min-width: 1440px) and (max-width: 2559px) {

    /* Laptop M */

    article figure {
        height: calc(var(--article-height)*1.25);
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    /* Laptop S */

    article figure {
        height: calc(var(--article-height)*1);
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* tablet */

    article figure {
        height: calc(var(--article-height)*.75);
    }

}

@media screen and (max-width: 767px) {

    /* Mobile L */

    article figure {
        height: calc(var(--article-height)*.50);
    }

    .section-button {
        width: 50px;
    }

    .section-button img{
        width: 20px;
        height: 20px;
    }

    .contact .social-buttons * {
        width: 50px;
        height: 50px;
    }

    .contact p {
        height: auto;
        line-height: 20px;
        margin: 50px;
    }

}

@media screen and (max-width: 375px) {
    /* Mobile M */

    .contact .contact-button {
        padding: 7px 30%;
    }
}

@media screen and (max-width: 320px) {
    /* Movile S */

}