/* Zoom articles animation */

article a figure.img img {
    transition: transform 1s;
}

article:hover a figure.img img {
    transform: scale(1.5);
}

/* Video preview */
article a figure.video img {
    display: block;
}

article a figure.video video {
    display: none;
}

article a figure.video:hover img {
    display: none;
}

article a figure.video:hover video {
    display: block;
}

.section-button figure img {
    transition: transform .8s;
}

.section-button:hover figure img {
    transform: scale(1.5);
}
