
/* Board -------------------- */

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 50px;
}

.sub-board {
    max-width: 100%;
}

.sub-board .item {
    display: block;
    cursor: pointer;
}

.sub-board .item .img-container {
    /* max-width: 100%; */
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
}

.sub-board .item .img-container img {
    width: 100%;
    height: auto;
}

 /* Articles */


.article-container {
    background-color: var(--color-blue);
    width: 100%;
    height: auto;
    display: block;
}

article {
    padding: 5px;
    margin-bottom: 20px;
}

article figure {
    margin: 0px;
    height: auto;
    width: 100%;
}

article figure img {
    height: auto;
    width: 100%;
}

h3 {
    margin: 7px 0;
    padding: 0;
    font-weight: bold;
    font-size: var(--font-size-h3);
    color: var(--color-white);
    text-align: center;
}