/* Variables -------------------- */
:root {
    --padding-section: 0 50px;
    --font-text: 'Lato', sans-serif;
    --font-titles: 'Metal Mania', cursive;
    --color-white: #FCF8EC;
    --color-light-blue: #D0E8F2;
    --color-blue: #79A3B1; 
    --color-dark-blue: #456268;
    --font-size-text: 14px;
    --font-size-links: 24px;
    --font-size-h1: 64px;
    --font-size-h2: 36px;
    --font-size-h3: 18px;
    --font-size-small: 11px;
}

/* General -------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size);
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

h1 {
    padding: 50px 0;
    margin: 0 auto;
    font-family: var(--font-titles);
    font-size: var(--font-size-h1);
    color: var(--color-dark-blue);
    width: 100%;
    text-align: center;
}


.logo {
    border-radius: 50%;
    margin: 0%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
}

.button {
    box-shadow: 0px 4px 10px rgba(0,0,0,.25);
}

.button:hover {
    box-shadow: 0px 4px 18px rgba(0,0,0,.50);
}

.button:active {
    box-shadow: inset 0px 4px 10px rgba(0,0,0,.25);
}

a {
    text-decoration: underline;
    font-size: var(--font-size-links);
    color: var(--color-dark-blue);
}

.link:hover {
    color: black;
}


.link:active {
    color: white;
}


/* Header -------------------- */

.header {
    margin: 0;
    padding: var(--padding-section);
    background-color: var(--color-light-blue);
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    margin-left: 30px;
    display: inline;
}


/* Footer -------------------- */

footer {
    width: 100%;
    margin: 0;
    margin-top: 70px;
    padding: 0;
    background-color: lightblue;
    text-align: center;
}

footer * {
    font-size: var(--font-size-small);
    color: var(--color-dark-blue);
    height: 30px;
    line-height: 30px;
}
